---
layout: page
title: Posts by Category
showOnNavigation: true
---
{% for category in site.categories %}
	<section>
		<h2>{{ category | first }}</h2>
		<ul class="posts">
		{% for posts in category %}
			{% for post in posts %}
				{% if post.category == category[0] %}
			<li>
				<article>
					<header>
						<h3><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h3>
					</header>
					<a href="{{ site.baseurl }}/{{ post.url }}" class="image"><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></a>
				</article>
			</li>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</ul>
	</section>
{% endfor %}