---
layout: page
title: Posts by Category
showOnNavigation: true
---
{% for category in site.categories %}
	{% for posts in category %}
		<section>
			<h3>{{ category | first }}</h3>
			{% for post in posts %}
			<div class="mini-posts">
				<!-- Mini Post -->
				<article class="mini-post" itemscope itemtype="http://schema.org/BlogPosting">
					<header>
						<h3><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h3>
						<time class="published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
						{% if post.author %}
							<a href="{{ site.baseurl }}/aboutPage.html" class="author"><img src="{{ site.baseurl }}/{{ site.avatar }}" alt="" /></a>
						{% endif %}
					</header>
					<a href="{{ site.baseurl }}/{{ post.url }}" class="image"><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></a>
				</article>
			</div>
			{% endfor %}
		</section>
	{% endfor %}
{% endfor %}