---
layout: default
---
<!-- Header -->
{% include header.html %}
<!-- Menu -->
{% include menu.html %}
<!-- Main -->
<div id="main">

</div>
<!-- To include a custom search engine by Google, put your own key below, then uncomment the line `{% include searchBar.html %}` in `_includes/header.html` and the line `{% include menuSearchBar.html %}` `_includes/menu.html` -->
<script>
	(function() {
		var cx = 'put your key here';
		var gcse = document.createElement('script');
		gcse.type = 'text/javascript';
		gcse.async = true;
		gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(gcse, s);
	})();
</script>
<gcse:searchresults-only queryParameterName="searchString"></gcse:searchresults-only>
<!-- Footer -->
{% include footer.html %}