<header id="header">
	<h1><a href="{{ site.baseurl }}/index.html">Future Imperfect</a></h1>
	<nav class="links">
		<ul>
			{% for my_page in site.pages %}
				{% if my_page.showOnNavigation == true %}
					<li><a href="{{ site.baseurl }}{{ my_page.url }}">{{ my_page.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
	<nav class="main">
		<ul>
			{% include searchBar.html %}
			<li class="menu">
				<a class="fa-bars" href="#menu">Menu</a>
			</li>
		</ul>
	</nav>
</header>