<section>
	<div class="mini-posts">
	{% for post in site.posts %}
		{% if post.featureAsMinipost == true %}
		<!-- Mini Post -->
		<article class="mini-post">
			<header>
				<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
				<time class="published" datetime="2015-10-20">October 20, 2015</time>
				<a href="{{ site.baseurl }}/aboutPage.html" class="author"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="" /></a>
			</header>
			<a href="{{ site.baseurl }}{{ post.url }}" class="image"><img src="{{ site.baseurl }}{{ post.image }}" alt="" /></a>
		</article>
		{% endif %}
	{% endfor %}
	</div>
</section>