{% for post in site.posts %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<div class="title">
			<h2><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h2>
			<p>{{ post.tagline }}</p>
		</div>
		<div class="meta">
			<time class="published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
			{% if post.author %}
			<a href="{{ site.baseurl }}/aboutPage.html" class="author"><span class="name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ post.author }}</span><img src="{{ site.baseurl }}/{{ site.avatar }}" alt="" /></a>
			{% endif %}
		</div>
	</header>
	<a href="{{ site.baseurl }}/{{ post.url }}" class="image featured"><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></a>
	<p>{{ post.description }}</p>
	<footer>
		<ul class="actions">
			<li><a href="{{ site.baseurl }}/{{ post.url }}" class="button big">Continue Reading</a></li>
		</ul>
		<ul class="stats">
			{% if post.category %}
			<li><a href="#">{{ post.category }}</a></li>
			{% endif %}
			<li><a href="#" class="icon fa-heart">28</a></li>
			<li><a href="#" class="icon fa-comment">128</a></li>
		</ul>
	</footer></article>
{% endfor %}