---
layout: default
---
<!-- Header -->
{% include header.html %}
<!-- Menu -->
{% include menu.html %}
<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="#">{{ page.title }}</a></h2>
				<p>{{ page.tagline }}</p>
			</div>
			<div class="meta">
				<time class="published" datetime="2015-11-01">{{ page.date }}</time>
				<a href="#" class="author"><span class="name">{{ page.author }}</span><img src="images/avatar.jpg" alt="" /></a>
			</div>
		</header>
		{% if page.image %}
		<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
		{% endif %}
		{{ content }}
		<footer>
			<ul class="stats">
				<li><a href="#">General</a></li>
				<li><a href="#" class="icon fa-heart">28</a></li>
				<li><a href="#" class="icon fa-comment">128</a></li>
			</ul>
		</footer>
	</article>
</div>
<!-- Footer -->
{% include footer.html %}